* {
    font-family: 'Raleway', sans-serif; 
}
.hero__texto {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    margin-bottom: 3%;
    width: 75%;
}

.hero__texto h2, p {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.hero__texto h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
}

.hero__texto p {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.hero__botao {
    background-color: #2a7ae4;
    border: none;
    color: white;
    padding: 16px;
    width: 130px;
}