.topo__direita {
    display: flex;
    width: 601px;
}

.topo__logo {
    margin-right: 32px;
}

.topo__pesquisa{
    align-items: center;
    display: flex;
    width: 100%;
}

.topo__barraPesquisa {
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
    height: 40px;
    padding: 8px 16px 8px 16px;
    position: relative;
    width: 100%;
}

.topo__label {
    position: relative;
    transform: translateX(-35px);
}

#search-icons{
    color: rgba(0, 0, 0, 0.25)}

.topo__esquerda {
    display: flex;
    justify-content: flex-end;
}

.topo__botao {
    background-color: white;
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    padding: 16px;
    width: 182px;
}

.topo__botao > a {
    text-decoration: none;
    color: #2a7ae4;
}

.topo__botao:hover {
    background-color: #2a7be444;
    transition-timing-function: 300ms;
}