.conteudo{
    align-items: center;
    background-color: #eaf2fd;
    display: flex;
    flex-direction: column;
    height: 368px;
    margin-top: 64px;
    width: 100%;
}

.conteudo__container{
    display: flex;
    height: 364px;
    justify-content:space-between;
    padding: 64px 0 64px 0;
    width: 75%;
}

.conteudo__logo{
    height: 50px;
    width: 176px ;
}

.conteudo__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 176px;
}

.conteudo__link a {
    color: #464646;
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    text-decoration: none;
}





