.rodape{
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif; 
    height: 70px;
    justify-content: center;
    padding: 32px;
}

.rodape p {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;
}