* {
    font-family: 'Raleway', sans-serif; 
}

.exibir__produto{
    align-items: center;
    background-color: rgba(0, 0, 0, .025);
    display: flex;
    flex-direction: column;
    height: calc(1486px - 115px - 470px);
    justify-content: space-around;
    margin-bottom: -64px;
}

.produto__container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.produto__caixa{
    align-items: center;
    display: flex;
    height: 403px;
    justify-content: space-between;
    width: 1136px;
}

 .produto__imagemTopo {
    background-image: url("../../img/head-stormtrooper2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.produto__descricao {
    color: #464646;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 16px;
    width: 100%;
}

.produto__titulo {
    font-size: 52px;
    font-weight: 500;
    padding-bottom: 8px;
}

.produto__valor{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
}

.produto__informacao {
    font-size: 16px;
    font-weight: 400px;
}

