body {
    font-family: 'Raleway', sans-serif; 
}

main {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    height: 450px;
    margin-bottom: -64px;
}

.login__itens {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

