* {
    font-family: 'Raleway', sans-serif; 
}

.linhasProdutos__topo{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.linhasProdutos__icones {
    align-items: center;
    display: flex;
    flex-direction: space-between;
}

.linhasProdutos__nome {
    color: #464646;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 38px;
    text-align: left;
}

.linhasProdutos__botao{
    border: none;
    color: #2a7ae4;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 98px;
}

.material-icons-outlined {
    color: #2a7ae4;
}