.produto__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 174px;
    width: 176px ;
}

.produto__imagem--starwars1 {
    background-image: url('../../img/head-stormtrooper.png');
}

.produto__imagem--starwars2 {
    background-image: url('../../img/head-darthVader.png');
}

.produto__imagem--starwars3 {
    background-image: url('../../img/yodda.png');
}

.produto__imagem--starwars4 {
    background-image: url('../../img/stormtrooper.png');
}

.produto__imagem--starwars5 {
    background-image: url('../../img/baby-yodda.png');
}

.produto__imagem--starwars6 {
    background-image: url('../../img/kylo-ren.png');
}

.produto__imagem--consoles1 {
    background-image: url('../../img/controle-branco.png');
}
.produto__imagem--consoles2 {
    background-image: url('../../img/console-videogame.png');
}
.produto__imagem--consoles3 {
    background-image: url('../../img/console-antigo.png');
}
.produto__imagem--consoles4 {
    background-image: url('../../img/controle-switch.png');
}
.produto__imagem--consoles5 {
    background-image: url('../../img/playstation.png');
}
.produto__imagem--consoles6 {
    background-image: url('../../img/gameboy.png');
}

.produto__imagem--diversos1 {
    background-image: url('../../img/simbos.png');
}
.produto__imagem--diversos2 {
    background-image: url('../../img/pessoa-jogando.png');
}
.produto__imagem--diversos3 {
    background-image: url('../../img/sonic.png');
}
.produto__imagem--diversos4 {
    background-image: url('../../img/radio-rosa.png');
}
.produto__imagem--diversos5 {
    background-image: url('../../img/pessoa-vr-camiseta.png');
}

.produto__imagem--diversos6 {
    background-image: url('../../img/picachu.png');
}

