.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 176px;
    height: 252px;
}

.produto__nome {
    color: #464646;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.44px;
}

.produto__preco {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}

.produto__link {
    color: #2a7ae4;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}